#if 0
Copyright (c) Microsoft Corporation. All Rights Reserved
#endif

#include "resource.h"
#include "winres.h"
#include <ntverp.h>
#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "FlowEngine APO"
#define VER_INTERNALNAME_STR            "FlowEngineAPO"
#define VER_ORIGINALFILENAME_STR        "FlowEngineAPO.Dll"
#include <Common.ver>

IDR_FlowEngineAPODLL          REGISTRY                "FlowEngineAPODll.rgs"
IDR_FlowEngineAPOMFX          REGISTRY                "FlowEngineAPOMFX.rgs"
IDR_FlowEngineAPOSFX          REGISTRY                "FlowEngineAPOSFX.rgs"

// ICON
IDI_EFFECT_ICON			RCDATA					"FlowEngineAPO.png"

#if 0
1                       TYPELIB                 "FlowEngineAPODll.tlb"
#endif
